<h1><%= @service.number %></h1>
<h2><%= @service.description %></h2>
<h3><%= @service.days_of_operation %></h3>
<h4><%= @service.term_start %> - <%= @service.term_end if @service.term_end %></h4>
<h5><%= 'Inbound' if @service.direction == 'I' %><%= 'Outbound' if @service.direction == 'O' %></h5>