<h1>Listing journey_details</h1>

<table>
  <tr>
    <th>Service</th>
    <th>Operator</th>
    <th>Journey identifier</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
    <th>School term</th>
    <th>Bank holidays</th>
    <th>Journey type</th>
    <th>Journey note</th>
  </tr>

<% @journey_details.each do |journey_detail| %>
  <tr>
    <td><%=h journey_detail.service_id %></td>
    <td><%=h journey_detail.operator %></td>
    <td><%=h journey_detail.journey_identifier %></td>
    <td><%=h journey_detail.monday %></td>
    <td><%=h journey_detail.tuesday %></td>
    <td><%=h journey_detail.wednesday %></td>
    <td><%=h journey_detail.thursday %></td>
    <td><%=h journey_detail.friday %></td>
    <td><%=h journey_detail.saturday %></td>
    <td><%=h journey_detail.sunday %></td>
    <td><%=h journey_detail.school_term %></td>
    <td><%=h journey_detail.bank_holidays %></td>
    <td><%=h journey_detail.journey_type %></td>
    <td><%=h journey_detail.journey_note %></td>
    <td><%= link_to 'Show', journey_detail %></td>
    <td><%= link_to 'Edit', edit_journey_detail_path(journey_detail) %></td>
    <td><%= link_to 'Destroy', journey_detail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New journey_detail', new_journey_detail_path %>