<h1>New journey_detail</h1>

<% form_for(@journey_detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :service_id %><br />
    <%= f.text_field :service_id %>
  </p>
  <p>
    <%= f.label :operator %><br />
    <%= f.text_field :operator %>
  </p>
  <p>
    <%= f.label :journey_identifier %><br />
    <%= f.text_field :journey_identifier %>
  </p>
  <p>
    <%= f.label :monday %><br />
    <%= f.check_box :monday %>
  </p>
  <p>
    <%= f.label :tuesday %><br />
    <%= f.check_box :tuesday %>
  </p>
  <p>
    <%= f.label :wednesday %><br />
    <%= f.check_box :wednesday %>
  </p>
  <p>
    <%= f.label :thursday %><br />
    <%= f.check_box :thursday %>
  </p>
  <p>
    <%= f.label :friday %><br />
    <%= f.check_box :friday %>
  </p>
  <p>
    <%= f.label :saturday %><br />
    <%= f.check_box :saturday %>
  </p>
  <p>
    <%= f.label :sunday %><br />
    <%= f.check_box :sunday %>
  </p>
  <p>
    <%= f.label :school_term %><br />
    <%= f.text_field :school_term %>
  </p>
  <p>
    <%= f.label :bank_holidays %><br />
    <%= f.text_field :bank_holidays %>
  </p>
  <p>
    <%= f.label :journey_type %><br />
    <%= f.text_field :journey_type %>
  </p>
  <p>
    <%= f.label :journey_note %><br />
    <%= f.text_field :journey_note %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', journey_details_path %>