<p>
  <b>Service:</b>
  <%=h @journey_detail.service_id %>
</p>

<p>
  <b>Operator:</b>
  <%=h @journey_detail.operator %>
</p>

<p>
  <b>Journey identifier:</b>
  <%=h @journey_detail.journey_identifier %>
</p>

<p>
  <b>Monday:</b>
  <%=h @journey_detail.monday %>
</p>

<p>
  <b>Tuesday:</b>
  <%=h @journey_detail.tuesday %>
</p>

<p>
  <b>Wednesday:</b>
  <%=h @journey_detail.wednesday %>
</p>

<p>
  <b>Thursday:</b>
  <%=h @journey_detail.thursday %>
</p>

<p>
  <b>Friday:</b>
  <%=h @journey_detail.friday %>
</p>

<p>
  <b>Saturday:</b>
  <%=h @journey_detail.saturday %>
</p>

<p>
  <b>Sunday:</b>
  <%=h @journey_detail.sunday %>
</p>

<p>
  <b>School term:</b>
  <%=h @journey_detail.school_term %>
</p>

<p>
  <b>Bank holidays:</b>
  <%=h @journey_detail.bank_holidays %>
</p>

<p>
  <b>Journey type:</b>
  <%=h @journey_detail.journey_type %>
</p>

<p>
  <b>Journey note:</b>
  <%=h @journey_detail.journey_note %>
</p>


<%= link_to 'Edit', edit_journey_detail_path(@journey_detail) %> |
<%= link_to 'Back', journey_details_path %>