<h1>Listing journey_stops</h1>

<table>
  <tr>
    <th>Journey detail</th>
    <th>Bus stop</th>
    <th>Arrival</th>
    <th>Departure</th>
    <th>Bay number</th>
  </tr>

<% @journey_stops.each do |journey_stop| %>
  <tr>
    <td><%=h journey_stop.journey_detail_id %></td>
    <td><%=h journey_stop.bus_stop %></td>
    <td><%=h journey_stop.arrival %></td>
    <td><%=h journey_stop.departure %></td>
    <td><%=h journey_stop.bay_number %></td>
    <td><%= link_to 'Show', journey_stop %></td>
    <td><%= link_to 'Edit', edit_journey_stop_path(journey_stop) %></td>
    <td><%= link_to 'Destroy', journey_stop, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New journey_stop', new_journey_stop_path %>