<%= form_for(@bus_stop) do |f| %>
  <% if @bus_stop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bus_stop.errors.count, "error") %> prohibited this bus_stop from being saved:</h2>

      <ul>
      <% @bus_stop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location_reference %><br />
    <%= f.text_field :location_reference %>
  </div>
  <div class="field">
    <%= f.label :full_location %><br />
    <%= f.text_field :full_location %>
  </div>
  <div class="field">
    <%= f.label :publicity_point_flag %><br />
    <%= f.check_box :publicity_point_flag %>
  </div>
  <div class="field">
    <%= f.label :working_point_flag %><br />
    <%= f.check_box :working_point_flag %>
  </div>
  <div class="field">
    <%= f.label :timing_point_flag %><br />
    <%= f.check_box :timing_point_flag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
