<h1><%= @bus_stop.name %></h1>
<% if params[:service] %>
	<h2><%= params[:service] %></h2>

	<p>TIMES<br>
	<% @times.each do |t| %>
		<%= t.departure.strftime("%H:%M") if t.departure %><%= 'arrives: '+t.arrival.strftime("%H:%M") if !t.departure %>, <%= t.journey_detail.operator %><%= '('+t.journey_detail.journey_note+')' if t.journey_detail.journey_note %><br>
	<% end %>
	<p>
<% else %>
	<% @services_at_bus_stop.group_by(&:number).each do |n,s| %>
		<%= link_to n, :controller => 'bus_stops', :action => 'show', :id => @bus_stop.ref_code, :service => n.strip %><br>
	<% end %>
<% end %>